body {
	background-color: #fff;
}
.intro {
	text-align: center;
	font-size: 1.25rem;
	margin-top: 8rem;
}
form {
	width: 80%;
	margin: 2.5rem auto;
}
form p {
	margin: 1rem 0;
}
form span {
	display: inline-block;
	width: 22%;
	text-align: center;
	line-height: 2.2rem;
}
form input {
	width: 75%;
	text-indent: 3px;
	line-height: 2.2rem;
	font-size: 1.1rem;
	border: 1px solid #4c4c4c;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.gender {
	display: inline-block;
	width: 30%;
	line-height: 2.2rem;
	font-size: 1rem;
	background-color: #fff;
	border-radius: 5px;
	margin: 0 2%;
	text-align: center;
	border: 1px solid #111;
}
a.click-girl {
	background-color: #ff6091;
	color: #fff;
	border: 1px solid #ff6091;
}
a.click-boy {
	background-color: #23aeff;
	color: #fff;
	border: 1px solid #23aeff;
}
.next {
	display: block;
	text-align: center;
	background-color: #ff7043;
	color: #fff;
	margin: 18px auto;
	width: 80%;
	font-size: 1.15rem;
	line-height: 2.5rem;
	border-radius: 5px;
	border: 1px solid #ff7043;
}
.next:active, .next:hover {
	color: #fff;
}