* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Helvetica Neue", Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
}
html, body {
    width: 100%;
}
html {
	font-size: 62.5%;
}
a {
	text-decoration: none;
	color: #000000;
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
}
a:active, a:hover {
	color: #000000;
	outline: none;
}
input {
	border-width: 0px;
	outline: none;
}
button {
	border-width: 0px;
}
img {
	border: none;
}
ul, li {
	list-style: none;
}

/* 清浮动 */
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	zoom: 1;
}

/* prompt-box */
.prompt-box {
	width: 80%;
	font-size: 1.2rem;
	background-color: #fff;
	color: #000;
	text-align: center;
	position: fixed;
	top: 5rem;
	left: 10%;
	z-index: 999;
	border-radius: 5px;
	display: none;
}
.prompt-title {
	line-height: 2.5rem;
	background-color: #b7b7b7;
	color: #fff;
	border-radius: 5px 5px 0 0;
}
.prompt {
	line-height: 2rem;
	min-height: 5rem;
	word-break: break-all;
	padding: 5px;
}
.cover {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 899;
	background-color: rgba(0,0,0,0.6);
	display: none;
}
.close {
	display: block;
	height: 2.5rem;
	background-color: #b7b7b7;
	color: #fff;
	line-height: 2.5rem;
	border-radius: 0 0 5px 5px;
}
a.close:active, a.close:hover {
	color: #fff;
	outline: none;
}

@media screen and (min-width: 320px) {
    html {font-size: 14px;}
}
@media screen and (min-width: 360px) {
    html {font-size: 16px;}
}
@media screen and (min-width: 400px) {
    html {font-size: 18px;}
}
@media screen and (min-width: 440px) {
    html {font-size: 20px;}
}
@media screen and (min-width: 480px) {
    html {font-size: 22px;}
}
@media screen and (min-width: 640px) {
    html {font-size: 28px;}
}

body {
	background-color: #fff;
}
/* content */
.content {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 5rem;
}

/* title */
.title {
	width: 100%;
	padding: 1rem 0;
}
.title span {
	float: left;
	text-align: center;
	line-height: 2.2rem;
}
.title span:nth-child(1) {
	font-size: 1.25rem;
	width: 29%;
}
.title span:nth-child(2) {
	width: 43%;
}
.title span:nth-child(3) {
	width: 28%;
}
.title span:nth-child(2), .title span:nth-child(3) {
	font-size: 0.9rem;
}

/* part-time-job-item */
.part-time-job-item {
	margin-bottom: 1rem;
	border-top: 1px solid #91867b;
	border-bottom: 1px solid #91867b;
}
.part-time-job-item p {
	text-align: center;
}
.job {
	color: #ff7043;
	line-height: 2.2rem;
	font-size: 1.2rem;
	width: 92%;
	margin: 0.5rem auto;
	border-bottom: 1px solid #91867b;
}
.detailed-info {
	line-height: 2rem;
}
.detailed-info a {
	display: inline-block;
	height: 2rem;
	padding: 0 5px;
}
.create-link {
	width: 85%;
	background-color: #ff7043;
	color: #fff;
}
.create-link:hover {
	color: #fff;
}
.view {
	width: 70%;
	border: 1px solid #91867b;
}
.create-link, .view {
	display: block;
	margin: 0.5rem auto;
	line-height: 2rem;
	border-radius: 5px;
	text-align: center;
}

/* return */
.return-box {
	position: fixed;
	width: 100%;
	height: 4rem;
	bottom: 0;
	left: 0;
	z-index: 11;
	background-color: #fff;
}
.return {
	display: block;
	width: 50%;
	margin: 0.8rem auto;
	line-height: 2.5rem;
	font-size: 1.2rem;
	color: #fff;
	background-color: #29b6f6;
	text-align: center;
	border-radius: 5px;
}
.return:hover {
	color: #fff;
}

/* bottom */
.bottom-bar {
	width: 100%;
	border-top: 1px solid #a5a5a5;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	z-index: 111;
}
.bottom-bar a {
	display: inline-block;
	width: 50%;
	float: left;
	text-align: center;
	line-height: 3rem;
	font-size: 1.1rem;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.bottom-bar a:first-child {
	border-right: 1px solid #a5a5a5;
	background: url('../images/part-time.png') no-repeat 15% center;
	background-size: 1.2rem;
}
.bottom-bar a:last-child {
	background: url('../images/myself.png') no-repeat 15% center;
	background-size: 1.2rem;
}


@media screen and (min-width: 320px) {
	.title span:nth-child(3) {
		letter-spacing: -1px;
	}
}