body {
	background-color: #fff;
}
/* content */
.content {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 4rem;
}

/* info-box */
.info-box {
	width: 100%;
	margin-top: 2rem;
}
.info-box div:first-child {
	float: left;
}
.info-box div:last-child {
	float: right;
}
.head-portrait {
	width: 40%;
	text-align: center;
}
.head-portrait img {
	width: 60%;
	margin-bottom: 0.5rem;
}
.info {
	width: 60%;
}
.name {
	font-size: 1.2rem;
}
.leader {
	display: block;
	width: 70%;
	font-size: 1.1rem;
	text-align: center;
	margin: 0.7rem auto;
	border: 1px solid #4c4c4c;
	border-radius: 5px;
	line-height: 2rem;
}

/* money-and-points */
.money-and-points {
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.money-and-points a {
	display: block;
	width: 50%;
	float: left;
	text-align: center;
	padding: 0.5rem 0;
	height: 6.5rem;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.money {
	border-right: 1px solid #ccc;
}
.money p:first-child, .points p:first-child {
	font-size: 1.1rem;
	line-height: 1.5rem;
}
.money p:nth-child(2), .points p:nth-child(2) {
	font-size: 1.3rem;
	color: #ff7043;
	line-height: 2rem;
}
.money span, .points span {
	display: inline-block;
	width: 90%;
	font-size: 0.8rem;
	color: #999;
	line-height: 1rem;
}

/* guarantee */
.guarantee {
	width: 90%;
	margin: 0 auto;
	padding-top: 2.5rem;
}
.get-guarantee {
	width: 90%;
	display: block;
	margin: 1rem auto;
	line-height: 2.2rem;
	text-align: center;
	font-size: 1rem;
	background-color: #ff7043;
	color: #fff;
	border-radius: 5px;
}
.get-guarantee:hover {
	color: #fff;
}

/* bottom */
.bottom-bar {
	width: 100%;
	border-top: 1px solid #a5a5a5;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	z-index: 111;
}
.bottom-bar a {
	display: inline-block;
	width: 50%;
	float: left;
	text-align: center;
	line-height: 3rem;
	font-size: 1.1rem;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.bottom-bar a:first-child {
	border-right: 1px solid #a5a5a5;
	background: url('../images/part-time.png') no-repeat 15% center;
	background-size: 1.2rem;
}
.bottom-bar a:last-child {
	background: url('../images/myself.png') no-repeat 15% center;
	background-size: 1.2rem;
}