body {
	background-color: #fff;
}
/* content */
.content {
	width: 90%;
	margin: 4rem auto;
	padding-top: 4rem;
}
.content p {
	text-align: center;
	line-height: 2rem;
}
.content a {
	display: block;
	width: 50%;
	margin: 3rem auto;
	text-align: center;
	border-radius: 5px;
	background-color: #ff7043;
	color: #fff;
	font-size: 1.2rem;
	line-height: 2.5rem;
}
.content a:hover {
	color: #fff;
}

/* bottom */
.bottom-bar {
	width: 100%;
	border-top: 1px solid #a5a5a5;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	z-index: 111;
}
.bottom-bar a {
	display: inline-block;
	width: 50%;
	float: left;
	text-align: center;
	line-height: 3rem;
	font-size: 1.1rem;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.bottom-bar a:first-child {
	border-right: 1px solid #a5a5a5;
	background: url('../images/release.png') no-repeat 15% center;
	background-size: 1.2rem;
}
.bottom-bar a:last-child {
	background: url('../images/myself.png') no-repeat 15% center;
	background-size: 1.2rem;
}

@media screen and (max-width: 320px) {
	.content {
		width: 95%;
	}
}