body {
	background-color: #fff;
}
/* content */
.content {
	width: 97%;
	margin: 1rem auto;
	padding-bottom: 3rem;
}
.item {
	width: 100%;
	padding: 0.5rem 0;
	border-bottom: 1px solid #bcbfc6;
	font-size: 1rem;
}
.item div, .item p, .item ul {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.item div {
	float: left;
	width: 25%;
	text-align: center;
	line-height: 2rem;
}
.item p, .item ul {
	float: right;
	width: 75%;
	padding-left: 5px;
	line-height: 2.2rem;
	border-left: 1px solid #bcbfc6;
}
.item p input[type='text'], .item p input[type='tel'] {
	width: 82%;
	font-size: 1.1rem;
	height: 2rem;
}
.item p input[type='checkbox'] {
	width: 1rem;
	height: 1rem;
}
.date {
	text-align: center;
}
.begin-date, .end-date {
	width: 60%;
	font-size: 1.1rem;
	line-height: 2rem;
	height: 2rem;
	color: #000;
	background-color: transparent;
}
input[type="date"]:before{
    content: attr(placeholder);
    color: #000;
}
textarea {
	width: 95%;
	height: 7rem;
	font-size: 1.1rem;
	resize: none;
}
.item li {
	line-height: 2rem;
}

/* next */
.next {
	display: block;
	text-align: center;
	background-color: #ff7043;
	color: #fff;
	border-radius: 5px;
	font-size: 1.2rem;
	width: 60%;
	line-height: 2.5rem;
	margin: 1rem auto;
}
.next:hover {
	color: #fff;
}

/* bottom */
.bottom-bar {
	width: 100%;
	border-top: 1px solid #a5a5a5;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	z-index: 1;
}
.bottom-bar a {
	display: inline-block;
	width: 50%;
	float: left;
	text-align: center;
	line-height: 3rem;
	font-size: 1.1rem;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.bottom-bar a:first-child {
	border-right: 1px solid #a5a5a5;
	background: url('../images/release.png') no-repeat 15% center;
	background-size: 1.2rem;
}
.bottom-bar a:last-child {
	background: url('../images/myself.png') no-repeat 15% center;
	background-size: 1.2rem;
}