* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    /* iScroll CSS, thanks */
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.9);
	border-radius: 3px;
}
::-webkit-scrollbar-thumb:window-inactive {
	background-color: rgba(0, 0, 0, 0.6);
}
body {
	background-color: #fff;
}
.intro {
	text-align: center;
	font-size: 1.25rem;
	margin-top: 8rem;
}
form {
	width: 90%;
	margin: 2.5rem auto;
}

/* college-wrapper */
.college-wrapper, .profession-wrapper, .grade-wrapper, .dormitory-wrapper {
	margin-top: 1rem;
}
.mark {
	width: 15%;
	float: left;
	font-size: 1.1rem;
	line-height: 2.5rem;
}
.college-box, .profession-box, .grade-box, .dormitory-box {
	float: left;
	position: relative;
	width: 85%;
}
.college-box a, .profession-box a, .grade-box a, .dormitory-box a {
	display: block;
	width: 100%;
	text-indent: 5px;
	font-size: 1.1rem;
	line-height: 2.2rem;
	background-color: #fff;
}
.choose-college, .choose-profession, .choose-grade, .choose-dormitory {
	line-height: 2.5rem;
	border: 1px solid #9b9b9b;
	border-radius: 5px;
}
.college, .profession, .grade, .dormitory {
	width: 100%;
	border: 1px solid #9b9b9b;
	border-radius: 5px;
	position: absolute;
	top: 2.5rem;
	margin-top: 1px;
	background-color: #fff;
	display: none;
	z-index: 11;
	height: 8.8rem;
	overflow-y: scroll;
}
.icon {
	position: absolute;
	right: 0.6rem;
	top: 0.85rem;
	border-left: 0.4rem solid transparent;
	border-right: 0.4rem solid transparent;
	border-top: 0.8rem solid #474747;
}

/* next */
.next {
	display: block;
	text-align: center;
	background-color: #ff7043;
	color: #fff;
	margin: 2rem auto;
	width: 70%;
	font-size: 1.3rem;
	line-height: 2.5rem;
	border-radius: 5px;
	border: 1px solid #ff7043;
}
.next:active, .next:hover {
	color: #fff;
}